#bandName {
    position: absolute;
    top: 216px;
    width: 234px;
    font-size: 10px;
    text-align: center;
}

#songName {
    position: absolute;
    top: 205px;
    width: 234px;
    font-size: 10px;
    text-align: center;
}

#albumCover {
    position: absolute;
    top: 40px;
    right: 60px;
    left: 40px;
    width: 160px;
    height: 160px;
    font-size: small;
    border-radius: 80px;
    align-content: center;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

body {
    min-width: 234px;
    min-height: 216px;
    overflow-x: hidden;
}

#playImage {
    margin: 0px;
    border: 1px;
    width: 35px;
    max-height: 35px;
    position: fixed;
    height: 50px;
    left: 210px;
    top: 2px;
    cursor: pointer;
}

#radioEksen {
    position: absolute;
    top: 48px;
    right: 184px;
    left: 210px;
    width: 35px;
    height: 35px;
    border-radius:4px;
}

#rockFM {
    position: absolute;
    top: 89px;
    right: 200px;
    left: 210px;
    width: 35px;
    height: 35px;
    border-radius: 4px;
}

#cultRecords {
    position: absolute;
    top: 130px;
    right: 200px;
    left: 210px;
    width: 35px;
    height: 35px;
    border-radius: 4px;
}

#speaker {
    position: absolute;
    top: 10px;
    right: 132px;
    left: 4px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#mute {
    position: absolute;
    top: 22px;
    right: 132px;
    left: 16px;
    width: 10px;
    height: 10px;
} 

#volume {
    position: absolute;
    left: 31px;
    margin: 0 auto;
    height: 15px;
    top: 15px;
    width: 168px;
    background: url(../img/volume-empty.png) no-repeat left top;
    border: none;
    outline: none;
    cursor: pointer;
}

#volume .ui-slider-range-min {
    height:15px;
    width: 140px;
    position: absolute;
    background: url('../img/volume-full.png') no-repeat left top;
    border: none;
    outline: none;
    cursor: pointer;
}

#volume .ui-slider-handle {
    width: 17px;
    height: 19px;
    background: url(../img/volume-knob.png) no-repeat center center;
    position: absolute;
    top: -3px;
    margin-left: -6px;
    cursor: pointer;
    outline: none;
    border: none;
}

#addSong {
    position: absolute;
    left: 200px;
    top: 186px;
    cursor: pointer;
}

#infoText {
    margin-top: 30px;
}